html, body {
    width:100%;
    height:100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*font-size: 16px;*/
    background-color: lightgrey;
}

a:link {
    color: lightgrey;
    text-decoration: none;
}

a:hover {
    color: white;
}

#local {
    float: right;
}

/* UI toolbars common style */
header, #menu, footer {
    background-color: black;
    color: lightgrey;
    padding-left: 1em;
    padding-right: 1em;
    z-index: 999;
}

header {
    line-height: 2em;
    vertical-align: middle;
    font-weight: bold;
}

header #local {
    float: right;
}

/* Hamburger menu */
#menu-link::before {
    content: "|||";
    display: inline-block;
    margin-right: .5em;
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

/* Rotate hambuger menu when menu opened */
#menu-link.opened::before, header:hover #menu-link::before {
    transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
}

/* Open and close menu transition */
#menu-link::before, #menu {
    transition: all .5s;
    -o-transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
}

#menu-link, #menu ul * {
    cursor: pointer;
}

#menu {
    position: absolute;
    left: -11em;
    width: 10em;
    /*height: 100%;*/
    color: black;
    padding-top: 1em;
}

/* Open menu when class .opened added or mouseover */
#menu.opened, header:hover + #menu, #menu:hover {
     left: 0;
     color: lightgrey;
}

/* Menu lists */
#menu ul {
    padding-top: 1em;
    padding-left: 0;
    padding-right: 0;
    list-style: none;
    border-top: solid lightgrey 1px;
}

/* Menu last list border */
#menu ul:last-child {
    padding-bottom: 1em;
    border-bottom: solid lightgrey 1px;
}

#menu input[type="file"] {
    display: none;
}

/* Main space for editor */
main {
    position: absolute;
    left: 5%;
    margin-top: 1em;
    width: 90%;
    height: 90%;
    box-shadow: 0 0 .2em gray;
    background-color: white;
}

canvas#fabric {
    border: 1px solid black;
}

@media(max-height: 600px) {
    main {
        margin-top: inherit;
        margin-bottom: .5em;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: .5em;
    text-align: right;
    padding: 0;
}

[itemprop="email"]::before {
    content: "<";
}

[itemprop="email"]::after {
    content: ">";
}

/* Show message to landscape the device */
@media(orientation: portrait) {
    main * {
        display: none;
    }
    main::before {
        content: "Please rotate your device.";
        display: inline-block;
        padding: 1em;
        text-align: center;
    }
}

/* Show message for very small screens */
@media(max-height: 359px), (max-width: 359px) {
    main * {
        display: none;
    }
    main::before {
        content: "Your device has too small screen to run this editor. Sorry. :-(";
        display: inline-block;
        padding: 1em;
        text-align: center;
    }
}
